.signup{
  display:flex;
  flex-direction: column;
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  max-width:500px;
  width:80%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);
    background-color: rgba(255, 255, 255, .25);  
    backdrop-filter: blur(15px);
    padding:1rem;
    border-radius:10px;
  
   .inp1, .inp2, .inp3, .inp4{
     padding:.6rem .4rem;
     margin:.5rem 0;
     border: none;
     background: transparent;
     border-bottom:1px solid white;
     outline:none;
 
   }

   .inp1::placeholder,    .inp2::placeholder,    .inp3::placeholder,   .inp4::placeholder{
    color: black;
   }
   .sign-btn{
     margin:.5rem 0;
     padding:1rem 0;
     background:black;
   }
   .already{
     text-align: center;
     color: white;
     a{
       color: black;
     }
   }
}