.checked-todo{
 
 width:80%;
 max-width:500px;
 background:gray;
 position:absolute;
 left:50%;
 overflow-y:scroll;
 top:50%;
 height:400px;
 z-index:2;
 transform:translate(-50%, -50%);
 padding:1rem;
 border-radius:10px;
 box-shadow: 0 0 10px 0 rgba(0,0,0,.7);
 background-color: white;
 h3{
   text-align: center;
   color: black;
 }
 .checked-contain{
   .checked-item{
     display:flex;
     box-sizing: border-box;
      border-radius: 10px;
      box-shadow: 0 0 10px 0 rgba(0,0,0,.7);
      background:rgba(0,0,0,.9);
   margin-top:.5rem;
   padding:1rem;
   color: gray;
   
   .checked-name{
     text-decoration: line-through;
     font-style: italic;
   }
   }
 }
}